@model PostCategory

@{
    ViewData["Title"] = "ManagePostCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Theme/styles/contact.min.css" rel="stylesheet" />
    <link href="~/Theme/styles/contact_responsive.min.css" rel="stylesheet" />
}

<!-- Home -->
<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a asp-controller="Post" asp-action="Dashboard">Admin</a></li>
                            <li>Post Category</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contact">

    <!-- Contact Info -->
    <div class="contact_info_container">
        <div class="container">

            @if (ViewBag.MessageSuccess != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-check-circle fa-lg"></i><strong> @ViewBag.MessageSuccess</strong>
                </div>
            }
            else if (ViewBag.MessageError != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <i class="fa fa-exclamation-triangle fa-lg"></i><strong> @ViewBag.MessageError</strong>
                </div>
            }

            <div class="row">

                <!-- Category Form -->
                <div class="col-lg-4">
                    <div class="contact_form">
                        <div class="contact_info_title">Add New Category</div>
                        <form asp-action="ManagePostCategory" class="comment_form" method="post">
                            <div>
                                <div class="form_title">Name</div>
                                <input type="text" class="comment_input" asp-for="Name" required="required">
                            </div>
                            <div>
                                <div class="form_title">Status</div>
                                <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()" aria-hidden="true"></select>
                            </div>
                            <div>
                                <button type="submit" class="comment_button trans_200"><i class="fa fa-save"></i> Save now</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- category table -->
                <div class="col-lg-8">
                    <div class="contact_info">
                        <div class="contact_info_title">List of Categories</div>
                        <div class="contact_info_text">
                            <table class="table table-bordered" id="catg-table">
                                <thead>
                                    <tr>
                                        <th scope="col">S.No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewBag.ListOfCategories != null)
                                        {
                                            int sNo = 1;
                                            List<PostCategory> postCategories = ViewBag.ListOfCategories as List<PostCategory>;
                                            foreach (var postCategory in postCategories)
                                            {

                                                <tr>
                                                    <td scope="row">@sNo</td>
                                                    <td scope="row">@postCategory.Name</td>
                                                    <td scope="row"><span class="badge badge-success">@((Status)postCategory.Status)</span></td>
                                                    <td scope="row"><a href="#" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> EDIT</a></td>
                                                </tr>
                                                sNo++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Theme/js/contact.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    
    <script>
        $(function () {
            $('#catg-table').DataTable();
        })
    </script>

}

